.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 767px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}



/* columns with video */
/* section sizing */
main .section.with-video.columns-container {
	padding: 0;
	margin: 120px 48px 88px;
}

main .section.with-video.columns-container .columns-wrapper {
	max-width: unset;
}

/* video sizing */
.video-wrapper {
	align-items: center;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-wrapper video {
	display: block;
	object-fit: cover;
	aspect-ratio: 16 / 9;
	height: 100%;
}

/* column sizing */
.columns-wrapper {
	max-width: unset;
	width: 100%;
}

.block.columns.video > div {
	gap: 48px;
	align-items: flex-start;
}

/* image */
.block.columns.video > div:first-of-type picture {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.block.columns.video > div:first-of-type img {
	object-fit: cover;
	aspect-ratio: 6 / 5;
}

/* bottom row */
.block.columns.video > div:nth-of-type(2) > div {
	display: flex;
	flex-direction: column;
}

/* lodging image link */
.block.columns.video > div:nth-of-type(2) > div:first-of-type {
	margin-top: 64px;
	align-items: flex-end;
}

.block.columns.video > div:nth-of-type(2)  > div:first-of-type img {
	width: 112px;
}

/* lodging cta */
.block.columns.video > div:nth-of-type(2) > div:last-of-type h2 {
	margin: 0 57px 40px 57px;
	font-size: 2.5rem;
    line-height: 2.4375rem;
    text-transform: capitalize;
}

.block.columns.video > div:nth-of-type(2) > div:last-of-type p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.15px;
	margin: 0 57px 64px;
}

.block.columns.video > div:nth-of-type(2) > div:last-of-type h5 {
	font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.15px;
	font-family: var(--body-font-family);
	margin: 24px 57px 64px;
}

@media (width <= 1024px) {
	main .section.with-video.columns-container {
		margin: 60px 32px 50px;
	}

	.block.columns.video > div {
		gap: 16px;
	}

	.block.columns.video > div:nth-of-type(2) > div:last-of-type p {
		font-size: 0.875rem;
	}

	.block.columns.video > div:nth-of-type(2) > div:last-of-type h2,
	.block.columns.video > div:nth-of-type(2) > div:last-of-type p,
	.block.columns.video > div:nth-of-type(2) > div:last-of-type h5 {
		margin-left: 32px;
		margin-right: 32px;
	}
}

@media (width <= 767px) {
	main .section.with-video.columns-container {
		margin: 55px 0 60px;
	}


	.video-wrapper {
		width: 100%;
		max-height: 750px;
	}

	.video-wrapper video {
		width: 100%;
	}

	.block.columns.video > div {
		flex-direction: column;
		justify-content: flex-start;
		-webkit-flex-basis: 51%;
		-ms-flex-preferred-size: 51%;
		flex-basis: 51%;
		gap: 0;
	}

	.block.columns.video > div:first-of-type div:nth-of-type(2) {
		display: none;
	}

	.block.columns.video > div:nth-of-type(2) > div:first-of-type {
		margin: 53px 30px 64px;
	}

	.block.columns.video > div:nth-of-type(2) > div:last-of-type h2 {
		margin: 0 30px 40px;
	}

	.block.columns.video > div:nth-of-type(2) > div:last-of-type p {
		margin: 0 30px;
		font-size: 1rem;
        line-height: 1.75rem;
        letter-spacing: normal;
	}

	.block.columns.video > div:nth-of-type(2) > div:last-of-type h5 {
		margin: 24px 30px 47px;
		font-size: 1rem;
        line-height: 1.75rem;
        letter-spacing: normal;
		font-weight: 700;
	}
}







/* offset columns */
/* dark background block and section heading */
.offset.section.columns-container {
	position: relative;
	padding-top: 120px;
	padding-bottom: 172px;
}

.offset.section.columns-container::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: -150px;
	height: 542px;
	width: 100%;
	background-color: var(--dark-color);
	z-index: -1;
}

main .section.columns-container .columns.offset h2 {
	color: var(--light-color);
	margin: 88px 0 0 0;
	font-size: 4.15rem;
    line-height: 4rem;
    letter-spacing: normal;
    text-transform: capitalize;
	grid-column: 2/ span 1;
	align-self: flex-end;
	z-index: 3;
}

/* default image styles */
.columns.offset > div picture img {
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	max-height: 432px;
	display: block;
}

.columns.offset > div:first-of-type > div:first-of-type picture img,
.columns.offset > div:nth-of-type(2) > div:first-of-type picture img {
	aspect-ratio: 3 / 4;
	max-height: 384px;
}

/* offsets */
.columns.offset > div {
	display: flex;
	align-items: flex-start;
	gap: 48px;
	margin-bottom: 48px;
	position: relative;
	z-index: 50;
}

.columns.offset > div:last-of-type {
	margin-bottom: 0;
}

.columns.offset > div:nth-of-type(2) {
	z-index: 1;
}

.columns.offset > div:nth-of-type(2) > div:last-of-type {
	margin-top: -110px;
}

.columns.offset > div:last-of-type > div:last-of-type {
	margin-top: -190px;
}

/* crown logo */
.columns.offset > div:first-of-type > div:first-of-type::after {
	content: '';
	width: 140px;
	height: 140px;
	display: block;
	position: absolute;
	left: 18px;
	top: -230px;
	background: url(https://main--mammoth-mountain--adobedevxsc.hlx.live/images/whitemammothlogo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 30;
}


/* image link styles */
.columns.offset > div .linked-image-wrapper {
	position: relative;
}

.columns.offset > div .linked-image-wrapper:hover {
	cursor: pointer;
}

.columns.offset > div .linked-image-wrapper p {
	position: relative;
	margin: 0;
}

.columns.offset > div .linked-image-wrapper p::before {
	content: "";
	background-color: var(--dark-color);
    opacity: 0.2;
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	z-index: 1;
}

.columns.offset > div .linked-image-wrapper p a {
	display: block;
}

.columns.offset > div .linked-image-wrapper p a picture {
	display: block;
	width: 100%;
	height: 100%;
}

.columns.offset > div .linked-image-wrapper h4 {
	position: absolute;
	bottom: 0;
	left: 0;
	color: var(--light-color);
	font-size: 1.875rem;
    line-height: 2.4375rem;
	text-transform: capitalize;
    letter-spacing: normal;
	bottom: 0;
    margin: 16px 30px;
	z-index: 5;
}

.columns.offset > div .linked-image-wrapper h4:hover {
	cursor: pointer;
}

.columns.offset > div .linked-image-wrapper h4::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
	margin-left: 2px;
	width: 13px;
	height: 22px;
	background: url(../../icons/chevron-right.svg);
	background-repeat: no-repeat;
	filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(25deg) brightness(103%) contrast(101%);
}

/* cta styles */
.columns.offset > div:last-of-type > div:first-of-type {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.columns.offset > div:last-of-type > div:first-of-type h3,
.columns.offset > div:last-of-type > div:first-of-type p {
	text-align: right;
	width: fit-content;
	margin: 0 30px 0 0;
}

.columns.offset > div:last-of-type > div:first-of-type h3 {
	text-transform: uppercase;
}

.columns.offset > div:last-of-type > div:first-of-type p:first-of-type {
	font-size: 1.125rem;
	line-height: 1.75rem;
	letter-spacing: 0.0493125rem;
	text-transform: capitalize;
	margin: 18px 30px 18px 0;
}

@media(width <= 1040px){
	.columns.offset > div {
		display: flex;
		align-items: flex-start;
		gap: 24px;
		margin-bottom: 24px;
		position: relative;
		z-index: 50;
	}

	.columns > div:first-of-type {
		align-items: center;
	}
	
	.columns.offset > div:last-of-type {
		margin-bottom: 0;
	}
	
	.columns.offset > div:nth-of-type(2) {
		z-index: 1;
	}
	
	.columns.offset > div:nth-of-type(2) > div:last-of-type {
		margin-top: -110px;
	}
	
	.columns.offset > div:last-of-type > div:last-of-type {
		margin-top: -228px;
	}

	main .section.columns-container .columns.offset h2 {
		margin-top: 24px;
		font-size: 2.375rem;
        line-height: 2.125rem;
	}
}

@media(width <= 767px){
	.offset.section.columns-container {
		position: relative;
		padding-top: 237px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.columns > div:first-of-type,
	.columns > div:last-of-type {
		flex-direction: column-reverse;
		align-items: center
	}

	.offset.section.columns-container::before {
		height: 584px;
		top: 0;
	}

	.columns.offset > div:nth-of-type(2){
		flex-direction: column;
		align-items: center
	}

	main .section.columns-container .columns.offset h2 {
		font-size: 3.75rem;
        line-height: 4rem;
		margin: 0;
		max-width: unset;
	}

	.columns.offset > div .linked-image-wrapper {
		width: 100%;
	}

	.columns.offset > div .linked-image-wrapper h4 {
		font-size: 1.5rem;
		line-height: 2.4375rem;
		margin: 9px 25px;
		font-weight: 600;
	}

	.columns.offset > div:last-of-type > div:first-of-type {
		width: 100%;
		margin-top: 24px;
	}

	.columns.offset > div:last-of-type > div:first-of-type p {
		text-align: left;
	}

	.columns.offset > div:nth-of-type(2) > div:first-of-type {
		width: 100%;
	}

	.columns.offset > div:nth-of-type(2) > div:first-of-type picture img {
		width: 100%;
		display: block;
	}

	.columns.offset > div:nth-of-type(2) > div:last-of-type {
		margin-top: 0;
		width: 100%;
	}

	.columns.offset > div:last-of-type > div:last-of-type {
		margin-top: 0;
	}

	/* last block of columns */
	.columns.offset > div:last-of-type > div:first-of-type {
		align-items: flex-start;
	}

	/* crown logo */
	.columns.offset > div:first-of-type > div:first-of-type::after {
		width: 118px;
		height: 118px;
		left: 0;
		top: -337px;
	}
}


@media(width <= 600px){
	main .section.columns-container .columns.offset h2,
	.columns.offset > div:last-of-type > div:first-of-type {
		max-width: 480px;
	}

	.columns.offset > div:nth-of-type(2) > div:first-of-type picture img {
		width: 480px;
		aspect-ratio: 16 / 9;
		object-fit: cover;
		max-height: 432px;
		display: block;
	}
}