/* header and nav layout */
header .nav-wrapper {
	width: 100%;
	z-index: 2;
	position: fixed;
  }
  
  header nav#nav {
	box-sizing: border-box;
	margin: auto;
	height: var(--nav-height);
	padding: 0 0 0 90px; 
	font-family: var(--body-font-family);
	transition: 0.5s;
  }
  
  header nav#nav[aria-expanded="true"] {
	  background-color: var(--mammoth-blue) !important;
	  overflow-y: auto;
	  min-height: 100vh;
	  transition: 0.1s;
  }
  
  header nav#nav p {
	margin: 0;
  }
  
  header nav#nav a:any-link {
	color: var(--light-color);
	display: block;
  }
  

  /* hamburger */
  header nav#nav .nav-hamburger {
	height: var(--nav-height);
	position: absolute;
	top: 0;
	left: 0;
  }
  
  header nav#nav .nav-hamburger button {
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 0 30px;
	background-color: transparent;
	color: inherit;
	overflow: initial;
	text-overflow: initial;
	white-space: initial;
	height: var(--nav-height);
	z-index: 1350;
  }
  
  header nav#nav .nav-hamburger-icon,
  header nav#nav .nav-hamburger-icon::before,
  header nav#nav .nav-hamburger-icon::after {
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 26px;
  }
  
  header nav#nav .nav-hamburger-icon::before,
  header nav#nav .nav-hamburger-icon::after {
	content: "";
	position: absolute;
  }
  
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon,
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before,
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
	height: 2px;
	background: var(--light-color);
	transition: 0.3s;
  }
  
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before {
	top: -10px;
	width: 36px;
  }
  
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
	top: 10px;
	width: 16px;
  }
    
  header nav#nav[aria-expanded="true"] .nav-hamburger-icon::before,
  header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
	transform: rotate(45deg);
	width: 26px;
	height: 4px;
	transition: 0.3s;
	background-color: var(--light-color);
  }
  
  header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
	transform: rotate(-45deg);
  }

  

  
  /* brand  - black nav bar */
  header .nav-brand {
	width: 100%;
	max-height: var(--nav-height);
  }

  header nav#nav[aria-expanded="true"] .nav-brand {
	visibility: hidden;
  }

  header .nav-brand > div {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: var(--nav-height);
	padding-right: 30px;
	position: relative;
  }

  header nav#nav .nav-brand > div > p {
	height: fit-content;
  }

  header nav#nav .nav-brand > div > p:first-of-type {
	position: absolute;
	left: 0;
	bottom: 8px;
	display: block;
  }

    /* mobile home link */
	header nav#nav .nav-brand > div > p:nth-of-type(2){
		display: none;
		position: absolute;
		left: 0;
		bottom: 8px;
	}
    
	header nav#nav .nav-brand > div > p:nth-of-type(2) > a {
	  margin: 0;
	  border: 0;
	  border-radius: 0;
	  background-color: transparent;
	  color: inherit;
	  overflow: initial;
	  text-overflow: initial;
	  white-space: initial;
	  height: var(--nav-height);
	  display: block;
	}

	header nav#nav .nav-brand > div > p:nth-of-type(2) > a > .icon > img {
		display: block;
		width: 24px;
		height: 24px;
		object-fit: cover;
	}

	/* desktop home link */
  header nav#nav .nav-brand > div a {
	display: block;
  }

  header nav#nav .nav-brand a > .icon {
	display: block;
	width: unset;
	height: auto;
  }
  
  header nav#nav .nav-brand a > .icon > img {
	width: 85px;
	height: auto;
	object-fit: cover;
	display: block;
  }


/* camera, cart etc */
  header .nav-brand > div > ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	gap: 24px;
  }

  header .nav-brand > div > ul > li {
	color: var(--light-color);
	font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
	display: flex;
	font-family: var(--body-font-family);
  }

  header .nav-brand > div > ul > li > em {
	color: var(--light-color);
	font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;
	font-family: var(--subheading-font-family);
	font-style: normal;
  }

  header .nav-brand > div > ul > li:first-of-type .icon {
	margin-right: 6px;
  }

  header .nav-brand > div > ul > li:first-of-type > .icon img {
	display: block;
	object-fit: cover;
	fill: var(--light-color);
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(307deg) brightness(104%) contrast(101%);
	width: 24px;
	height: 24px;
  }

  header .nav-brand > div > ul > li:nth-of-type(3) .icon {
	width: 20px;
	height: 20px;
  }

  header .nav-brand > div > ul > li:last-of-type {
	width: 60px;
	justify-content: center;
	margin-right: 24px;
  }


  header .nav-brand > div > ul > li > .icon {
	display: block;
  }

  /* book now button */
  header .nav-brand > div > p:last-of-type {
	color: var(--light-color);
	padding: 0 16px;
	background-color: var(--mammoth-blue);
	font-family: var(--subheading-font-family);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.875rem;
	white-space: pre;
	line-height: 34px;
  }





  /* sections */
  header nav#nav .nav-sections {
	display: none;
	visibility: hidden;
  }
  
  header nav#nav[aria-expanded="true"] .nav-sections {
	display: block;
	visibility: visible;
	position: relative;
	height: calc(100% - var(--nav-height));
  }

  header nav#nav[aria-expanded="true"] .nav-sections::after {
	content: '';
    height: 448px;
    width: 506px;
	background: url(../../icons/white-crown.svg);
	background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    bottom: -16px;
    left: -96px;
    transform: translateX(-60px);
    pointer-events: none;
    overflow: hidden;
  }

  header nav#nav[aria-expanded="true"] .nav-sections > div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 24px;
  }

header nav#nav[aria-expanded="true"] .nav-sections > div > h4 {
	text-transform: uppercase;
	grid-column: span 1;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.375rem;
    letter-spacing: normal;
    text-transform: uppercase;
	margin: 0 0 28px;
	width: 65%;
  }

  header nav#nav[aria-expanded="true"] .nav-sections > div > ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style: none;
	padding: 0;
	grid-column: span 1;
	grid-row: 2;
  }

  header nav#nav[aria-expanded="true"] .nav-sections > div > ul > li {
	padding: 0;
  }

  header nav#nav[aria-expanded="true"] .nav-sections > div > ul > li > a {
	font-family: var(--subheading-font-family);
	/* font-weight: 700; */
	font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.75px;
  }
  
  header nav#nav .nav-sections ul {
	list-style: none;
	padding-left: 0;
	font-size: var(--body-font-size-s);
	font-weight: 500;
  }
  
  header nav#nav .nav-sections ul > li {
	font-weight: 700;
  }
  
  header nav#nav .nav-sections ul > li > ul {
	margin-top: 0;
  }
  
  header nav#nav .nav-sections ul > li > ul > li {
	font-weight: 500;
  }
    
	header nav#nav a:any-link {
	  display: block;
	}
  
	header nav#nav[aria-expanded="true"] .nav-sections {
	  align-self: unset;
	}
  
	header nav#nav .nav-sections .nav-drop {
	  position: relative;
	  padding-right: 16px;
	  cursor: pointer;
	  z-index: 10;
	}
  
	header nav#nav .nav-sections .nav-drop::after {
	  content: "";
	  display: inline-block;
	  position: absolute;
	  top: 0.5em;
	  right: 2px;
	  transform: rotate(135deg);
	  width: 6px;
	  height: 6px;
	  border: 2px solid currentcolor;
	  border-radius: 0 1px 0 0;
	  border-width: 2px 2px 0 0;
	}
  
	header nav#nav .nav-sections .nav-drop[aria-expanded="true"]::after {
	  top: unset;
	  bottom: 0.5em;
	  transform: rotate(315deg);
	}
  
	header nav#nav .nav-sections ul {
	  display: flex;
	  gap: 2em;
	  margin: 0;
	  font-size: var(--body-font-size-xs);
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li {
	  flex: 0 1 auto;
	  position: relative;
	  font-weight: 500;
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li > ul {
	  display: none;
	  position: relative;
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
	  display: block;
	  position: absolute;
	  left: -1em;
	  width: 200px;
	  margin-top: 12px;
	  padding: 1em;
	  background-color: var(--light-color);
	  white-space: initial;
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li > ul::before {
	  content: "";
	  position: absolute;
	  top: -8px;
	  left: 8px;
	  width: 0;
	  height: 0;
	  border-left: 8px solid transparent;
	  border-right: 8px solid transparent;
	  border-bottom: 8px solid var(--light-color);
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li > ul > li {
	  padding: 8px 0;
	}




/* responsive */
	@media (width <= 768px){
		header nav#nav {
			height: var(--mobile-nav-height);
			padding: 0 0 0 52px;
		}
	
		header nav#nav .nav-hamburger {
			height: var(--mobile-nav-height);
		}

		header nav#nav .nav-hamburger button {
			height: var(--mobile-nav-height);
			padding: 0 16px;
		}

		header nav#nav .nav-hamburger-icon,
		header nav#nav .nav-hamburger-icon::before,
		header nav#nav .nav-hamburger-icon::after {
			width: 20px !important;
		}
	
		header nav#nav[aria-expanded="true"] .nav-hamburger-icon::before,
		header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
			width: 26px !important;
		}

		header .nav-brand > div {
			padding: 0;
		}

		header .nav-brand,
		header .nav-brand > div,
		header nav#nav .nav-brand > div > p:nth-of-type(2) > a {
			height: var(--mobile-nav-height);
		}

		header nav#nav .nav-brand > div > p:first-of-type {
			display: none;
		}
	
		header nav#nav .nav-brand > div > p:nth-of-type(2) {
			display: block;
			top: 50%;
			transform: translateY(-50%);
			height: var(--mobile-nav-height);
		}

		header nav#nav .nav-brand > div > p:nth-of-type(2) > a {
			padding: 0;
			height: var(--mobile-nav-height);
			display: flex;
			align-items: center;
		}

		header .nav-brand > div > ul {
			gap: 16px;
		}

		header .nav-brand > div > ul > li:first-of-type {
			font-size: 1rem;
			line-height: 1rem;
			display: flex;
			align-items: center;
		}

		header .nav-brand > div > ul > li > em {
			font-size: 0.5rem;
			line-height: 0.5rem;
		}

		header .nav-brand > div > ul > li:first-of-type .icon {
			margin-right: 4px;
			width: 16px;
			height: 16px;
		  }

		header .nav-brand > div > ul > li:first-of-type .icon img {
			width: 16px;
			height: 16px;
		}
	
		header .nav-brand > div > ul > li:last-of-type {
			width: 60px;
			justify-content: center;
			margin-right: 16px;
		}


		header .nav-brand > div > p:last-of-type {
			white-space: unset;
			text-align: center;
			width: 32px;
			font-size: 0.75rem;
			line-height: 0.875rem;
			padding: 14px 16px;
		}


		/* sections */
		header nav#nav[aria-expanded="true"] .nav-sections {
			height: calc(100% - var(--mobile-nav-height));
		}

		header nav#nav[aria-expanded="true"] .nav-sections::after {
			left: unset;
			right: -88px;
			bottom: 64px;
			height: 124px;
    		width: 140px;
		}

		header nav#nav[aria-expanded="true"] .nav-sections > div {
			display: flex;
			flex-direction: column;
			width: 100%;
		  }

		  header nav#nav[aria-expanded="true"] .nav-sections > div > h4 {
			text-align: center;
			width: calc(100% - 52px);
		  }
				
		  header nav#nav[aria-expanded="true"] .nav-sections > div > ul {
			align-items: center;
			width: calc(100% - 52px);
		  }

		  header nav#nav[aria-expanded="true"] .nav-sections > div > h4:not(:first-of-type),
		  header nav#nav[aria-expanded="true"] .nav-sections > div > ul:not(:first-of-type) {
			display: none;
		  }
	  }
	