main .hero-container > div {
  max-width: unset;
  height: 784px;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #f000, #041e4280);
}

.hero.video video {
  object-fit: cover;
  width: 100%;
  height: 784px;
}

.hero.video > .hero-cta > div {
  max-width: 600px;
  position: absolute;
  bottom: 5rem;
  left: 0;
  padding-left: 5rem;
}

.hero h1 {
	text-transform: uppercase;
	font-size: 7.625rem;
	line-height: 6.25rem;
	letter-spacing: normal;
	margin: 0;
	color: var(--light-color);
}

.hero p {
	font-size: 1rem;
	line-height: 1.625rem;
	margin: 1.75rem 0;
	color: var(--light-color);
}

.hero .mobile-image-wrapper {
	display: none;
  }

@media (width <= 1020px) {
	.hero h1 {
		font-size: 3.75rem;
		line-height: 4.9375rem;
		letter-spacing: -1.5px;
  }

	.hero p:not(.button-container) {
		font-size: 1rem;
		line-height: 1.625rem;
		margin: 0.25rem 0 1.25rem;
		color: var(--light-color);
	}

	.hero p.button-container {
		margin-bottom: 0;
	}

	.hero.video > .hero-cta > div {
		max-width: 100%;
		bottom: 3rem;
		padding-left: 1.5rem;
  	}
}

@media (width <= 768px) {
  .hero {
    /* max-height: 50vh; */
	height: 584px;
  }

  .hero.video video {
    display: none;
  }

  .hero .mobile-image-wrapper {
	display: block;
	width: 100%;
  }

  .hero .mobile-image-wrapper picture {
	display: inline-block;
	height: 584px;
  }

  .hero .mobile-image-wrapper picture img {
	display: block;
	object-fit: cover;
	height: 100%;
	width: 100%;
  }
}