main .hero-container > div {
  max-width: unset;
}
  
 main .hero-container {
  padding: 0;
}

/*
.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */



/* video hero styles */
.video-container.hero-container {
	/* margin-top: var(--nav-height); */
	position: relative;
    height: 784px;
	width: 100%;
}

/* video styles */
main .video-wrapper .block.video-hero {
	margin: 0;
	display: block;
	border: solid 2px cyan;
}

main .video-wrapper .block.video-hero > div {
	max-height: 784px;
	min-height: 784px;
	width: 100%;
	position: relative;
}

main .video-wrapper .block.video-hero > div > iframe {
	position: relative;
	display: block;
	max-height: 784px;
	min-height: 784px;
}


/* text positioning */
.hero-wrapper .hero.main.video.block {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.05) 100%);
}

.hero-cta-wrapper {
	max-width: calc(50% - 100px);
	position: absolute;
    bottom: 88px;
	left: 90px;
}

@media (width <= 1023.95px) {
    .hero-cta-wrapper {
        left: 51px;
    }
}

.hero-wrapper .block.hero.video h1 {
	text-transform: uppercase;
	font-size: 7.625rem;
    line-height: 6.25rem;
    letter-spacing: normal;
	margin: 0;
	color: var(--light-color);
}

@media (width <= 1023.95px) {
	.hero-wrapper .block.hero.video h1 {
		font-size: 5.5rem;
		line-height: 4.9375rem;
		letter-spacing: -1.5px;
    }
}

.hero-wrapper .block.hero.video p {
	font-size: 1rem;
	line-height: 1.625rem;
	margin: 30px 0 0 0;
	color: var(--light-color);
}

/* controls video/image replacement for mobile */
@media (width <= 768px) {
	main .video-wrapper .block.video {
		display: none;
		visibility: hidden;
	}
}

@media (width >= 768px) {
	.block.video .hero-image-wrapper {
		display: none;
		visibility: hidden;
	}
}
