main .hero-container > div {
  max-width: unset;
  height: 784px;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero.winter::before {
	background: var(--old-winter-gradient);
}

.hero.summer::before,
.hero.fall::before {
	background: var(--hero-gradient);
}

.hero.video video {
  object-fit: cover;
  width: 100%;
  height: 784px;
}

.hero.video > .hero-cta {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
  }

.hero.video > .hero-cta > div {
  max-width: 600px;
  position: absolute;
  bottom: 5rem;
  left: 0;
  padding-left: 5rem;
}

.hero h1 {
	text-transform: uppercase;
	font-size: 7.625rem;
	line-height: 6.25rem;
	letter-spacing: normal;
	margin: 0;
	color: var(--light-color);
	font-weight: 600;
}

.hero p {
	font-family: var(--body-font-family);
	font-size: 1rem;
	line-height: 1.625rem;
	margin: 1.75rem 0;
	color: var(--light-color);
	font-weight: 700;
	
}

.hero .mobile-image-wrapper {
	display: none;
  }

@media (width <= 1024px) {
	.hero h1 {
        font-size: 5.5rem;
        line-height: 4.9375rem;
        letter-spacing: -1.5px;
		max-width: 450px;
  	}

	.hero p:not(.button-container) {
		font-size: 1rem;
		line-height: 1.625rem;
		margin: 0.25rem 0 1.25rem;
	}

	.hero p.button-container {
		margin-bottom: 0;
	}

	.hero.video > .hero-cta > div {
		max-width: 100%;
		bottom: 3rem;
		padding-left: 1.5rem;
  	}
}

@media (width <= 768px) {

	main .hero-container > div,	
	.hero {
		height: 584px;
	}

	.hero.video > .hero-cta {
		max-width: calc(100% - 40px);
	}

	.hero.video > div:first-of-type {
		display: none;
	}

	.hero.video > .hero-cta > div {
		bottom: 32px;
		padding: 0 20px;
  	}

	.hero h1 {
		font-size: 3.875rem;
        line-height: 3.4375rem;
        letter-spacing: -1.5px;
	}

	.hero p:not(.button-container) {
        font-size: 0.875rem;
        line-height: 1.25rem;
	}

	.hero.video .mobile-image-wrapper {
		display: block;
		width: 100%;
		height: 100%;
	}

	.hero.video .mobile-image-wrapper picture {
		display: inline-block;
		height: 584px;
		width: 100%;

	}

	.hero.video .mobile-image-wrapper img {
		display: block;
		object-fit: cover;
		width: 100%;
		max-height: 584px;
	}

	/* summer */
	.hero.video.summer .mobile-image-wrapper picture {
		overflow: hidden;
	}

	.hero.video.summer .mobile-image-wrapper img {
		object-position: 50% 47%;
		max-height: 584px;
	}

	/* winter */
	.hero.video.winter .mobile-image-wrapper picture img {
		height: 125%;
		min-height: 584px;
		transform: scale(155%);
	}
}