.fullwidth-image > div > div > picture {
	position: relative;
}

.fullwidth-image > div > div > picture img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
}

.fullwidth-image > div > div > picture {
	display: flex;
	justify-content: center;
}

@media (width >= 1020px) {
	.fullwidth-image-wrapper {
		width: 52%;
	}
}

@media (width >= 600px) {
	.fullwidth-image > div:nth-of-type(2) {
		display: none;
	}
}

@media (width <= 600px) {
	.fullwidth-image > div:first-of-type {
		display: none;
	}
}