main .section.countdown-container .countdown-wrapper {
	position: relative;
	padding-left: 324px;
	margin: 60px 0;
}

main .section.countdown-container .countdown-wrapper::before {
	display: block;
	content: "";
	background-image: url("https://main--mammoth-mountain--adobedevxsc.hlx.live/images/fun-sun-web-blue-600x600.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 324px;
	height: 324px;
	position: absolute;
	top: 0;
	left: 0;
}

.countdown {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: fit-content;
}

.countdown .countdown-numbers-wrapper {
	display: flex;
}

.countdown .countdown-numbers-wrapper > div {
	width: fit-content;
	margin-right: 46px;
}

.countdown .countdown-numbers-wrapper > div:last-of-type {
	margin-right: 0;
}

.countdown .countdown-numbers-wrapper h5 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25rem;
	line-height: 1.25rem;
	letter-spacing: 0.15px;
	font-weight: 400;
	margin-top: 0;
}

.countdown .countdown-numbers-wrapper p {
	display: flex;
	margin: 0 auto;
	width: fit-content;
}

.countdown .countdown-numbers-wrapper p > div {
	font-size: 5.5rem;
	line-height: 4.9375rem;
	letter-spacing: -1.5px;
    font-weight: 600;
	font-family: var(--heading-font-family);
}

.countdown .countdown-numbers-wrapper p > div > span {
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	display: block;
}

.countdown div:last-of-type h3 {
	font-size: 2.75rem;
	line-height: 2.5rem;
	letter-spacing: -0.5px;
	font-weight: 600;
	text-transform: uppercase;
}


/* small-desktop/tablet */
@media (width <= 1024px) {
	main .section.countdown-container .countdown-wrapper {
		padding-left: 64px;
	}

	main .section.countdown-container .countdown-wrapper::before {
		width: 178px;
		height: 178px;
		left: -50px;
		top: -72px;
	}
}

/* mobile */
@media (width <= 768px) {	
	main .section.countdown-container .countdown-wrapper {
		padding-left: 0;
	}

	main .section.countdown-container .countdown-wrapper::before {
		width: 156px;
		height: 156px;
		left: unset;
		right: -36px;
		top: -72px;
	}

	.countdown {
		margin: 0;
	}

	.countdown .countdown-numbers-wrapper {
		display: grid;
		grid-template-columns: 30% 30%;
		row-gap: 36px;
	}

	.countdown .countdown-numbers-wrapper > div {
		margin: 0;
		width: 100%;
		align-items: center;
	}

	.countdown .countdown-numbers-wrapper h5 {
		font-size: 1rem;
		line-height: 1rem;
	}

	.countdown .countdown-numbers-wrapper p > div {
		font-size: 3rem;
		line-height: 2.6875rem;
	}

	.countdown div:last-of-type h3 {
		max-width: 568px;
		font-weight: 600;
		font-size: 2.125rem;
		line-height: 1.9375rem;
		letter-spacing: 0.25px;
		margin-bottom: 36px;
	}
}


