.section.vertical-scroll-container {
	padding: 0;
	position: relative;

}

.section.vertical-scroll-container.fixed {
	border: solid 2px lime;
	/* position: fixed;
	top: 0; */
	overflow-y: scroll;
	height: 100vh;
	width: 100%;
	max-width: 100%;
}



.section > div.vertical-scroll-wrapper {
	max-width: unset;
}

.vertical-scroll-item {
	border: solid 2px lime;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	position: relative;
}

.vertical-scroll-item.in-view {
	border: solid 2px orange;
}

/* typography */
.vertical-scroll > div > .text-wrapper > h2 {
    letter-spacing: 0.0094rem;
    font-size: 5rem;
    line-height: 4.25rem;
	margin: 0;
}

.vertical-scroll-item > .text-wrapper > h3 {
    font-size: 3.25rem;
    line-height: 2.94rem;
    text-transform: capitalize;
	margin: 0;
}

.vertical-scroll > div > .text-wrapper > p {
	margin: 0;
	font-size: 1.125rem;
    line-height: 1.75rem;
    text-transform: capitalize;
	font-weight:  700;
}

.vertical-scroll > div > .text-wrapper > p.button-container {
	margin: 20px 0 0 0;
	font-weight: 400;
}


.vertical-scroll {
	position: relative;
	box-sizing: border-box;
}

.vertical-scroll {
	border: solid 5px fuchsia;
}

/* .vertical-scroll > div:not(:last-of-type) {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
} */

.vertical-scroll > div > .text-wrapper {
	background-color: var(--light-color);
    height: 447px;
    width: 486px;
	padding: 16px;
	display: flex;
	flex-direction: column;
}

/* .vertical-scroll > div:first-of-type .text-wrapper {
	border: solid 2px purple;
	z-index: 6;
	opacity: 1;
}

.vertical-scroll > div:nth-of-type(2) .text-wrapper{
	border: solid 2px orange;
	z-index: 5;
	opacity: 0;
}

.vertical-scroll > div:nth-of-type(3) .text-wrapper{
	border: solid 2px lime;
	z-index: 4;
	opacity: 0;
}

.vertical-scroll > div:nth-of-type(4) .text-wrapper{
	border: solid 2px fuchsia;
	z-index: 3;
	opacity: 0;
} */

/* .image-wrapper {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
} */

/* .image-wrapper > picture {
	max-width: 826.875px;
    width: 826.875px;
    max-height: 1032px;
    height: 1032px;
	display: block;
	position: absolute;
	right: 0;
	z-index: 1;
}

.image-wrapper > picture:first-of-type {
	top: 50px;
}

.image-wrapper > picture:nth-of-type(2) {
	top: 100px;
	opacity: 0;
}

.image-wrapper > picture:nth-of-type(3) {
	top: 150px;
	opacity: 0;
}

.image-wrapper > picture:last-of-type {
	top: 200px;
	opacity: 0;
} */

.image-wrapper > picture > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (width >= 1200px) {
	.image-wrapper picture {
		max-width: 1280px;
		width: 1280px;
		/* max-height: 1032px;
		height: 1032px; */
		border: solid 1px orange;
	}
}
