footer {
  padding: 48px 1rem 0;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer > div .footer-columns {
	display: flex;
	flex-direction: column;
}

/* color all footer links */
footer > div .footer-columns > div > div a {
	color: var(--light-color);
}

footer > div .footer-columns > div > div a:hover {
	cursor: pointer;
}

/* e-mail & socials */
footer > div .footer-columns > div:first-of-type {
    padding: 0 0 48px;
	display: flex;
	flex-wrap: wrap;
    width: 100%;
}

/* e-mail */
footer > div .footer-columns > div:first-of-type div:first-of-type {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding-right: 16px;
}

footer > div .footer-columns > div:first-of-type div:first-of-type h3 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.375rem;
	letter-spacing: normal;
	padding-bottom: 4px;
	margin: 0 0 8px 0;
}

footer > div .footer-columns > div:first-of-type div:first-of-type p {
	font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.17px;
	max-width: 558px;
}

footer > div .footer-columns > div:first-of-type div:first-of-type p:last-of-type {
	background-color: var(--light-color);
	color: var(--dark-color);
	max-width: 470px;
	min-height: 48px;
	line-height: 48px;
	padding: 0 12px;
	position: relative;
	margin-top: 32px;
}

footer > div .footer-columns > div:first-of-type div:first-of-type p:last-of-type::after {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	content: 'sign-up';
	width: fit-content;
	text-transform: uppercase;
	background-color: var(--link-color);
	color: var(--light-color);
	padding: 0 32px;
	letter-spacing: 1px;
    font-size: 1.125rem;
    line-height: 1rem;
    font-weight: 700;
    min-height: 48px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

footer > div .footer-columns > div:first-of-type div:first-of-type p:last-of-type:hover::after {
	cursor: pointer;
	background-color: var(--link-hover-color);
}

/* socials */
footer > div .footer-columns > div:first-of-type div:last-of-type {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	gap: 46px;
	align-items: center;
    min-height: 100%;
}

footer > div .footer-columns > div:first-of-type div:last-of-type picture {
	display: block;
	width: 34px;
	height: 34px;
	position: relative;
}

footer > div .footer-columns > div:first-of-type div:last-of-type picture img {
	max-width: 34px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* footer navigation columns */
footer > div .footer-columns > div:nth-of-type(2) {
	position: relative;
	display: flex;
	gap: 24px;
}

footer > div .footer-columns > div:nth-of-type(2) div {
	flex-direction: column;
	width: 25%;
	padding: 68px 0 63px;
}

footer > div .footer-columns > div:nth-of-type(2)::before {
	content: '';
	width: 880px;
	height: 2px;
	display: block;
    background-color: #C4C4C4;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

footer > div .footer-columns > div:nth-of-type(2) h4 {
	font-weight: 600;
    font-size: 1.125rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
	text-transform: uppercase;
	margin: 0 0 21px 0;
}

footer > div .footer-columns > div:nth-of-type(2) ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* end of columns */



footer > div .footer-columns > div:nth-of-type(3) {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	padding: 40px 0 23px;
}

/* logo button */
footer > div .footer-columns > div:nth-of-type(3) > div:first-of-type {
	margin-top: -15px;
	margin-right: 50px;
}

footer > div .footer-columns > div:nth-of-type(3) > div:first-of-type picture {
	display: flex;
	position: relative;
	width: 132px;
}

footer > div .footer-columns > div:nth-of-type(3) > div:first-of-type picture::after {
	content: '';
	width: 22px;
	height: 13px;
	background: url(../../icons/chevron-down.svg);
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	bottom: -32px;
	left: 50%;
	transform: translateX(-50%);
}

footer > div .footer-columns > div:nth-of-type(3) > div:first-of-type img {
	max-width: 132px;
	height: 53px;
}

footer > div .footer-columns > div:nth-of-type(3) .button-container a {
	min-height: auto;    
	line-height: 1.3125rem;
}

/* address block */
footer > div .footer-columns > div:nth-of-type(3) > div:nth-of-type(2) {
	grid-column: span 2;
	min-width: 240px;
}

footer > div .footer-columns > div:nth-of-type(3) > div:nth-last-of-type(2) h5 {
	padding-bottom: 4px;
	margin-bottom: 4px;
	font-weight: 700;
    font-size: 0.875rem;
    line-height: 0.875rem;
}

footer > div .footer-columns > div:nth-of-type(3) > div:nth-last-of-type(2) .button-container {
	width: fit-content;
}

footer > div .footer-columns > div:nth-of-type(3) > div:nth-last-of-type(2) .button-container:first-of-type {
	margin-bottom: 10px;
}


footer > div .footer-columns > div:nth-of-type(3) > div:nth-last-of-type(2) .button-container a {
	background-color: transparent;
	font-size: 0.875rem;
    line-height: 1.3125rem;
	letter-spacing: 0.00938em;
	font-weight: 400;
	border: none;
	padding: 0;
	margin: 0;
	display: block;
	border-radius: 0;
}

/* copyright */
footer > div .footer-columns > div:nth-of-type(3) > div:nth-of-type(3) {
	font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.17px;
    text-align: right;
	grid-column: 7/ span 2;
	min-width: 267px;
}

footer > div .footer-columns > div:nth-of-type(3) > div:nth-of-type(3) a {
	text-decoration: underline;
}



/* alterra mtn band */
footer > div .footer-columns > div:nth-of-type(4) {
	font-family: proxima-nova, sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--light-color);
	color: var(--dark-color);
	margin: 0 -92.5px;
	padding: 20px 1rem;
}

footer > div .footer-columns > div:nth-of-type(4) .button-container a {
	background-color: transparent;
	font-size: 0.875rem;
    line-height: 1.3125rem;
	letter-spacing: 0.00938em;
	font-weight: 700;
	border: none;
	padding: 0;
	margin: 0;
	display: block;
	border-radius: 0;
	color: var(--dark-color);
	min-height: auto;
}

footer > div .footer-columns > div:nth-of-type(4) .button-container a:hover {
	text-decoration: underline;
}

footer > div .footer-columns > div:nth-of-type(4) ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

}

footer > div .footer-columns > div:nth-of-type(4) ul li {
	margin-left: 52px;	
}

footer > div .footer-columns > div:nth-of-type(4) ul li:first-of-type {
	margin: 0;
}

footer > div .footer-columns > div:nth-of-type(4) ul li a,
footer > div .footer-columns > div:nth-of-type(4) ul li {
	color: var(--dark-color);
	font-size: 0.875rem;
    line-height: 1.3125rem;
	font-weight: 300;
}

/* responsive */
@media (width <= 1020px) {
	/* e-mail & socials */
	footer > div .footer-columns > div:first-of-type {
		flex-direction: column;
	}

	/* e-mail */
	footer > div .footer-columns > div:first-of-type div:first-of-type {
		padding-right: 0;
	}

	footer > div .footer-columns > div:first-of-type div:first-of-type p,
	footer > div .footer-columns > div:first-of-type div:first-of-type p:last-of-type {
		max-width: 100%;
	}


	/* socials */
	footer > div .footer-columns > div:first-of-type div:last-of-type {
		margin-top: 20px;
		justify-content: flex-start;
		gap: 46px;
	}

	/* footer navigation columns */
	footer > div .footer-columns > div:nth-of-type(2) {
	
	}
	
	footer > div .footer-columns > div:nth-of-type(2)::before {
		margin: 0 -16px;
		width: calc(100% + 32px);
		top: 0;
		left: 0;
		transform: translate(0);
	}

	footer > div .footer-columns > div:nth-of-type(2) > div {
		padding: 56px 0 63px;
	}

	footer > div .footer-columns > div:nth-of-type(2) h4 {
		font-size: 0.875rem;
		line-height: 1.125rem;
		letter-spacing: normal;
		margin-bottom: 25px;
	}

	footer > div .footer-columns > div:nth-of-type(2) ul li {
		font-size: 0.875rem;
		line-height: 1.25rem;
		letter-spacing: 0.17px;
		margin-bottom: 10px;
	}

	footer > div .footer-columns > div:nth-of-type(3) {
		padding: 0 0 23px;
	}

	/* copyright */
	footer > div .footer-columns > div:nth-of-type(3) > div:nth-of-type(3) {
		grid-row: 2;
	}

	/* alterra mtn band */
	footer > div .footer-columns > div:nth-of-type(4) {
		flex-direction: column;
		align-items: flex-start;
	}

	footer > div .footer-columns > div:nth-of-type(4) .button-container {
		margin-bottom: 16px;
	}

	footer > div .footer-columns > div:nth-of-type(4) .button-container a {
		font-size: 1rem;
	}
}

@media (width <= 768px) {
	/* footer navigation columns */
	footer > div .footer-columns > div:nth-of-type(2) {
		flex-direction: column;
		padding: 60px 0 36px;
	}

	footer > div .footer-columns > div:nth-of-type(2) > div {
		width: 100%;
		padding: 0;
	}

	footer > div .footer-columns > div:nth-of-type(2) h4 {
		font-size: 1.125rem;
		line-height: 1rem;
		letter-spacing: 0.5px;
		margin-bottom: 0;
		position: relative;
	}
	
	footer > div .footer-columns > div:nth-of-type(2) h4::after {
		content: '';
		width: 22px;
		height: 13px;
		background: url(../../icons/chevron-down.svg);
		background-repeat: no-repeat;
		display: inline-block;
		position: absolute;
		left: calc(100% - 22px);
		bottom: 50%;
		transform: translateY(50%);
	}

	footer > div .footer-columns > div:nth-of-type(2) ul {
		display: none;
	}

	/* logo button */
	footer > div .footer-columns > div:nth-of-type(3) > div:first-of-type {
		grid-column: 1/ span 8;
		grid-row: 1;
		margin-right: 0;
		margin-bottom: 39px;
	}

	footer > div .footer-columns > div:nth-of-type(3) > div:first-of-type picture {
		width: 100%;
	}

	footer > div .footer-columns > div:nth-of-type(3) > div:first-of-type picture::after {
		left: calc(100% - 22px);
		bottom: 50%;
		transform: translateY(50%);
	}

	footer > div .footer-columns > div:nth-of-type(3) {
		padding: 30px 0 38px;
	}
	
	/* address block */
	footer > div .footer-columns > div:nth-of-type(3) > div:nth-of-type(2) {
		grid-column: 1/ span 8;
		grid-row: 2;
		margin-bottom: 16px;
	}

	footer > div .footer-columns > div:nth-of-type(3) > div:nth-last-of-type(2) h5 {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	footer > div .footer-columns > div:nth-of-type(3) > div:nth-last-of-type(2) .button-container:first-of-type {
		margin-bottom: 0;
	}

	/* copyright */
	footer > div .footer-columns > div:nth-of-type(3) > div:nth-of-type(3) {
		grid-column: 1/ span 8;
		grid-row: 3;
		text-align: left;
	}

	/* alterra mtn band */
	footer > div .footer-columns > div:nth-of-type(4) { 
		padding: 18px 16px;
	}

	footer > div .footer-columns > div:nth-of-type(4) ul {
		flex-direction: column;
	}

	footer > div .footer-columns > div:nth-of-type(4) ul li {
		margin-left: 0;
		height: 24px;
	}
	
	footer > div .footer-columns > div:nth-of-type(4) .button-container a {
		font-size: 0.875rem;
		line-height: 1.3125rem;
	}

}