footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
  border: solid 2px orange;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer > div .footer-columns {
	display: grid;
	/* grid-template-areas: ; */
	border: solid 1px purple;
}


footer > div .footer-columns > div:first-of-type {
	border: solid 1px orange;
}

footer > div .footer-columns > div:first-of-type p:last-of-type {

}

footer > div .footer-columns > div:first-of-type p:last-of-type::after {
	display: block;
	content: 'sign-up';
	width: fit-content;
	text-transform: uppercase;
	background-color: var(--link-color);
}

footer > div .footer-columns > div:first-of-type p:last-of-type:hover::after {
	cursor: pointer;
	background-color: var(--link-hover-color);
}


footer > div .footer-columns > div:nth-of-type(2) {
	border: solid 1px lime;
}

footer > div .footer-columns > div:nth-of-type(3) {
	border: solid 1px blue;
}

footer > div .footer-columns > div:nth-of-type(4) {
	border: solid 1px fuchsia;
}